@using SmartOnStreetParking.Web.Controllers

@{
    ViewBag.Title = "Member's Dashboard";
}

<h2>@ViewBag.Title</h2>

<div class="x_panel" style="width:200px">
    <div class="x_title">
        <h2>Number of Zones</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
               
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>

