USE [master]
GO
/****** Object:  Database [SmartOnStreetParkingDB]    Script Date: 14/5/2017 2:05:15 μμ ******/
CREATE DATABASE [SmartOnStreetParkingDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartOnStreetParkingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartOnStreetParkingDB]
GO
USE [SmartOnStreetParkingDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/5/2017 2:05:16 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Member_Id] [bigint] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[Members]    Script Date: 14/5/2017 2:05:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Member_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Member_Name] [nvarchar](100) NOT NULL,
	[Member_Logo] [nvarchar](512) NULL,
	[Member_Info] [nvarchar](max) NULL,
	[Member_Address] [nvarchar](512) NULL,
	[Member_PostalCode] [nvarchar](10) NULL,
	[Member_Country] [nvarchar](50) NULL,
	[Member_Phone] [varchar](50) NULL,
	[Member_Email] [nvarchar](250) NOT NULL,
	[Member_ContactName] [nvarchar](100) NULL,
	[Member_ApiKey] [varchar](68) NOT NULL,
	[Member_ApiSecret] [varchar](68) NOT NULL,
	[Member_Type] [int] NOT NULL,
	[Member_RevenuePercentAsDev] [decimal](16, 2) NOT NULL,
	[Member_RevenuePercentAsProv] [decimal](16, 2) NOT NULL,
	[Member_BankApiKey] [nvarchar](200) NULL,
	[Member_BankApiSecret] [nvarchar](200) NULL,
	[Member_IBAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[ParkingSpots]    Script Date: 14/5/2017 2:05:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSpots](
	[Spot_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Spot_Name] [nvarchar](1024) NOT NULL,
	[Spot_Info] [nvarchar](max) NULL,
	[Spot_Address] [nvarchar](max) NULL,
	[Spot_ZoneId] [bigint] NOT NULL,
	[Spot_Location] [geography] NULL,
	[Spot_Edges] [geometry] NULL,
	[Spot_GeometryType] [int] NOT NULL,
	[Spot_StreetView] [varchar](max) NULL,
	[Spot_Capacity] [int] NOT NULL,
	[Spot_Visible] [bit] NOT NULL,
	[Spot_Deleted] [bit] NOT NULL,
	[Spot_DateCreated] [datetime] NOT NULL,
	[Spot_ReferenceId] [varchar](255) NULL,
	[Spot_CurrentAvailabilityState] [int] NOT NULL,
 CONSTRAINT [PK_ParkingSpots] PRIMARY KEY CLUSTERED 
(
	[Spot_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 14/5/2017 2:05:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Pay_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Pay_ParkingSpotId] [bigint] NOT NULL,
	[Pay_APIKey] [varchar](68) NOT NULL,
	[Pay_VehiclePlate] [nvarchar](50) NOT NULL,
	[Pay_Start] [datetime] NOT NULL,
	[Pay_Duration] [int] NOT NULL,
	[Pay_TimeStamp] [datetime] NOT NULL,
	[Pay_Ticket] [varchar](max) NOT NULL,
	[Pay_MemberId] [bigint] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Pay_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 14/5/2017 2:05:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 14/5/2017 2:05:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Ticket_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ticket_SN] [nvarchar](1024) NULL,
	[Ticket_Duration] [int] NOT NULL,
	[Ticket_Price] [decimal](16, 2) NOT NULL,
	[Ticket_ZoneId] [bigint] NOT NULL
)
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 14/5/2017 2:05:18 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Zone_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Zone_Name] [nvarchar](1024) NULL,
	[Zone_Color] [varchar](50) NULL,
	[Zone_Info] [nvarchar](max) NULL,
	[Zone_MemberId] [bigint] NOT NULL,
	[Zone_ParkingMaxDuration] [int] NULL,
	[Zone_TimeTable] [varchar](max) NULL,
	[Zone_IsPayingZone] [bit] NOT NULL,
	[Zone_Visible] [bit] NOT NULL,
	[Zone_Deleted] [bit] NOT NULL,
	[Zone_DateCreated] [datetime] NOT NULL,
	[Zone_ReferenceId] [varchar](255) NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[Zone_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Member_Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'26dc1f9c-d665-4c7e-93fd-413fbd826836', 14, N'jzarifis@parkguru.com', 0, N'ANHsTrEjO1nffteMJEYhed9r70jjOHCW7RrvFHKv/tmQlavOI5BXTwVptNg/AsMpyQ==', N'40cc5a67-c1cc-4ab1-ae8e-555d8184c002', NULL, 0, 0, NULL, 1, 0, N'jzarifis@parkguru.com')
INSERT [dbo].[AspNetUsers] ([Id], [Member_Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'309a2115-909f-46dd-a588-509861071ffd', 12, N'jzarifis@gmail.com', 0, N'AO7Wa2JRFt+QIFBlTd0KtoQztECE9IFA4HAnZAGShjR42P+IJNdAZkXiCD87iVvVqw==', N'218127d1-af96-4cf1-8e2e-6769609c99c1', NULL, 0, 0, NULL, 1, 0, N'jzarifis@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Member_Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6c25b460-1a56-4094-a512-a744d420ec6f', 10, N'ekontaxakis@gmail.com', 0, N'ADI8tnXFBcvl72n8jh4AE3sF4YQ0HXQXKzwz+xLYPcqnyNkfA3CQ29jW8DNHkW0rdg==', N'70baad75-658c-4de3-8576-a08919a18d20', NULL, 0, 0, NULL, 1, 0, N'ekontaxakis@gmail.com')
SET IDENTITY_INSERT [dbo].[Members] ON 

SET IDENTITY_INSERT [dbo].[Members] OFF
SET IDENTITY_INSERT [dbo].[ParkingSpots] ON 

INSERT [dbo].[ParkingSpots] ([Spot_Id], [Spot_Name], [Spot_Info], [Spot_Address], [Spot_ZoneId], [Spot_Location], [Spot_Edges], [Spot_GeometryType], [Spot_StreetView], [Spot_Capacity], [Spot_Visible], [Spot_Deleted], [Spot_DateCreated], [Spot_ReferenceId], [Spot_CurrentAvailabilityState]) VALUES (1, N'11233', N'TEST INFO', N'Valtetsiou 1-8, Athens', 1, 0xE6100000010C724D81CCCEFD42401DB0ABC953BC3740, 0xE610000001141DB0ABC953BC3740724D81CCCEFD424032BA72AC41BC37401789BFDCDDFD4240, 3, NULL, 5, 1, 0, CAST(N'2017-05-12T12:52:59.373' AS DateTime), N'11233', 0)
SET IDENTITY_INSERT [dbo].[ParkingSpots] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Pay_Id], [Pay_ParkingSpotId], [Pay_APIKey], [Pay_VehiclePlate], [Pay_Start], [Pay_Duration], [Pay_TimeStamp], [Pay_Ticket], [Pay_MemberId]) VALUES (1, 1, N'b82e61fa-8f2c-4fcd-900b-115aed5fe393', N'KPH5144', CAST(N'2017-05-13T12:28:35.923' AS DateTime), 60, CAST(N'2017-05-13T12:28:42.873' AS DateTime), N'{"Price":12.0,"Tickets":[{"SN":null,"Duration":60,"Price":12.0}]}', 10)
INSERT [dbo].[Payments] ([Pay_Id], [Pay_ParkingSpotId], [Pay_APIKey], [Pay_VehiclePlate], [Pay_Start], [Pay_Duration], [Pay_TimeStamp], [Pay_Ticket], [Pay_MemberId]) VALUES (2, 1, N'b82e61fa-8f2c-4fcd-900b-115aed5fe393', N'KPH5144', CAST(N'2017-05-13T12:39:34.893' AS DateTime), 60, CAST(N'2017-05-13T12:39:41.587' AS DateTime), N'{"Price":12.0,"Tickets":[{"SN":null,"Duration":60,"Price":12.0}]}', 10)
INSERT [dbo].[Payments] ([Pay_Id], [Pay_ParkingSpotId], [Pay_APIKey], [Pay_VehiclePlate], [Pay_Start], [Pay_Duration], [Pay_TimeStamp], [Pay_Ticket], [Pay_MemberId]) VALUES (3, 1, N'b82e61fa-8f2c-4fcd-900b-115aed5fe393', N'KPH5144', CAST(N'2017-05-13T14:34:40.780' AS DateTime), 60, CAST(N'2017-05-13T14:34:45.157' AS DateTime), N'{"Price":12.0,"Tickets":[{"SN":null,"Duration":60,"Price":12.0}]}', 10)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Ticket_Id], [Ticket_SN], [Ticket_Duration], [Ticket_Price], [Ticket_ZoneId]) VALUES (1, N'SN001', 60, CAST(2.25 AS Decimal(16, 2)), 1)
INSERT [dbo].[Tickets] ([Ticket_Id], [Ticket_SN], [Ticket_Duration], [Ticket_Price], [Ticket_ZoneId]) VALUES (3, N'SN002', 30, CAST(1.00 AS Decimal(16, 2)), 1)
INSERT [dbo].[Tickets] ([Ticket_Id], [Ticket_SN], [Ticket_Duration], [Ticket_Price], [Ticket_ZoneId]) VALUES (4, NULL, 30, CAST(1.00 AS Decimal(16, 2)), 8)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
SET IDENTITY_INSERT [dbo].[Zones] ON 

INSERT [dbo].[Zones] ([Zone_Id], [Zone_Name], [Zone_Color], [Zone_Info], [Zone_MemberId], [Zone_ParkingMaxDuration], [Zone_TimeTable], [Zone_IsPayingZone], [Zone_Visible], [Zone_Deleted], [Zone_DateCreated], [Zone_ReferenceId]) VALUES (1, N'City center', N'#0000FF', N'City center zone', 10, 360, NULL, 1, 1, 0, CAST(N'2017-05-11T20:20:35.753' AS DateTime), NULL)
INSERT [dbo].[Zones] ([Zone_Id], [Zone_Name], [Zone_Color], [Zone_Info], [Zone_MemberId], [Zone_ParkingMaxDuration], [Zone_TimeTable], [Zone_IsPayingZone], [Zone_Visible], [Zone_Deleted], [Zone_DateCreated], [Zone_ReferenceId]) VALUES (2, N'testzone2', N'#FF0000', N'testzone2info', 10, 30, NULL, 1, 1, 0, CAST(N'2017-05-12T20:10:48.080' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Zones] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Members]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE NONCLUSTERED INDEX [IX_Members] ON [dbo].[Members]
(
	[Member_ApiKey] ASC,
	[Member_ApiSecret] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Members_1]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Members_1] ON [dbo].[Members]
(
	[Member_ApiKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 14/5/2017 2:05:19 μμ ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Member_Type]  DEFAULT ((1)) FOR [Member_Type]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Member_RevenuePercentAsDev]  DEFAULT ((5)) FOR [Member_RevenuePercentAsDev]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Member_RevenuePercentAsProv]  DEFAULT ((90)) FOR [Member_RevenuePercentAsProv]
GO
ALTER TABLE [dbo].[ParkingSpots] ADD  CONSTRAINT [DF_ParkingSpots_Spot_Deleted]  DEFAULT ((0)) FOR [Spot_Deleted]
GO
ALTER TABLE [dbo].[ParkingSpots] ADD  CONSTRAINT [DF_ParkingSpots_Spot_DateCreated]  DEFAULT (getutcdate()) FOR [Spot_DateCreated]
GO
ALTER TABLE [dbo].[ParkingSpots] ADD  CONSTRAINT [DF_ParkingSpots_Spot_CurrentAvailabilityState]  DEFAULT ((0)) FOR [Spot_CurrentAvailabilityState]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Pay_TimeStamp]  DEFAULT (getutcdate()) FOR [Pay_TimeStamp]
GO
ALTER TABLE [dbo].[Zones] ADD  CONSTRAINT [DF_Zones_Zone_IsPayingZone]  DEFAULT ((1)) FOR [Zone_IsPayingZone]
GO
ALTER TABLE [dbo].[Zones] ADD  CONSTRAINT [DF_Zones_Spot_Deleted]  DEFAULT ((0)) FOR [Zone_Deleted]
GO
ALTER TABLE [dbo].[Zones] ADD  CONSTRAINT [DF_Zones_Spot_DateCreated]  DEFAULT (getutcdate()) FOR [Zone_DateCreated]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSpots_Zones] FOREIGN KEY([Spot_ZoneId])
REFERENCES [dbo].[Zones] ([Zone_Id])
GO
ALTER TABLE [dbo].[ParkingSpots] CHECK CONSTRAINT [FK_ParkingSpots_Zones]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([Pay_MemberId])
REFERENCES [dbo].[Members] ([Member_Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ParkingSpots] FOREIGN KEY([Pay_ParkingSpotId])
REFERENCES [dbo].[ParkingSpots] ([Spot_Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ParkingSpots]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Zones] FOREIGN KEY([Ticket_ZoneId])
REFERENCES [dbo].[Zones] ([Zone_Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Zones]
GO
ALTER TABLE [dbo].[Zones]  WITH CHECK ADD  CONSTRAINT [FK_Zones_Members] FOREIGN KEY([Zone_MemberId])
REFERENCES [dbo].[Members] ([Member_Id])
GO
ALTER TABLE [dbo].[Zones] CHECK CONSTRAINT [FK_Zones_Members]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 14/5/2017 2:05:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
USE [master]
GO
USE [SmartOnStreetParkingDB]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_ParkingSpots]    Script Date: 14/5/2017 2:05:19 μμ ******/
CREATE SPATIAL INDEX [SPATIAL_ParkingSpots] ON [dbo].[ParkingSpots]
(
	[Spot_Location]
)USING  GEOGRAPHY_GRID 
WITH (GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
